data/
generated_modules/
**/__pycache__/
*.egg-info/
checkpoints/
wandb/
results/
logs/
docs/output

# Python env
env/*
!env/activate
!env/ffe_requirements.txt
!env/xla_requirements.txt
!env/requirements.txt
