data/
generated_modules/
**/__pycache__/
*.egg-info/
blacksmith/**/checkpoints/
wandb/
results/
logs/
docs/output
generated/
model/
.vscode/
tests/test_logs/

# Python env
env/*
!env/activate
!env/ffe_requirements.txt
!env/xla_requirements.txt
!env/requirements.txt
