libclang==18.1.1
tensorboard==2.18.0
Werkzeug==3.1.3
rich==13.9.4
platformdirs==4.3.6
GitPython==3.1.43
immutabledict==4.2.1
simplejson==3.19.3
wandb==0.18.7
smmap==5.0.1
importlib_resources==6.4.5
tensorstore==0.1.69
jaxlib==0.4.35
protobuf==3.20.3
packaging==24.2
grpcio==1.68.0
humanize==4.11.0
docstring_parser==0.16
msgpack==1.1.0
pyarrow==18.1.0
flax==0.10.2
google-pasta==0.2.0
typing_extensions==4.12.2
numpy==1.26.0
tensorboard-data-server==0.7.2
chardet==5.2.0
termcolor==2.5.0
toml==0.10.2
wrapt==1.17.0
tensorflow==2.18.0
exceptiongroup==1.2.2
chex==0.1.87
tensorflow-io-gcs-filesystem==0.37.1
optree==0.13.1
tqdm==4.67.1
requests==2.32.3
simple-parsing==0.1.6
absl-py==2.1.0
toolz==1.0.0
namex==0.0.8
nest-asyncio==1.6.0
scipy==1.14.1
pluggy==1.5.0
keras==3.7.0
setproctitle==1.3.4
tomli==2.1.0
promise==2.3
click==8.1.7
optax==0.2.4
fsspec==2024.10.0
pytest==8.3.3
opt_einsum==3.4.0
iniconfig==2.0.0
jax==0.4.35
mdurl==0.1.2
orbax-checkpoint==0.10.1
urllib3==2.2.3
gast==0.6.0
psutil==6.1.0
dm-tree==0.1.8
docker-pycreds==0.4.0
pybind11==2.10.3
tensorflow-datasets==4.9.7
Pygments==2.18.0
astunparse==1.6.3
ml-dtypes==0.4.0
tensorflow-metadata==1.16.1
MarkupSafe==3.0.2
etils==1.10.0
gitdb==4.0.11
charset-normalizer==3.4.0
array_record==0.5.1
sentry-sdk==2.19.0
h5py==3.12.1
markdown-it-py==3.0.0
flatbuffers==24.3.25
s3transfer==0.5.0
Pillow==9.0.1
PyYAML==5.4.1
awscli==1.22.34
python-dateutil==2.8.1
docutils==0.17.1
pyasn1==0.4.8
urllib3==1.26.5
colorama==0.4.4
jmespath==0.10.0
requests==2.25.1
six==1.16.0
rsa==4.8
botocore==1.23.34
roman==3.3
olefile==0.46
certifi==2020.6.20
chardet==4.0.0
idna==3.3
Pygments==2.11.2
httplib2==0.20.2
lazr.uri==1.0.6
oauthlib==3.2.0
PyJWT==2.3.0
SecretStorage==3.3.1
pyparsing==2.4.7
python-apt==2.4.0+ubuntu4
lazr.restfulclient==0.14.4
wadllib==1.3.6
keyring==23.5.0
jeepney==0.7.1
launchpadlib==1.10.16
blinker==1.4
more-itertools==8.10.0
importlib-metadata==4.6.4
dnspython==2.1.0
zipp==1.0.0
requests-toolbelt==0.9.1
gpg==1.16.0
systemd-python==234
Markdown==3.3.6
cryptography==3.4.8
distro==1.7.0
ssh-import-id==5.11
wheel==0.37.1
pip==22.0.2
setuptools==59.6.0
PyGObject==3.42.1
dbus-python==1.2.18
