--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.7.0
torch-xla @ https://storage.googleapis.com/pytorch-xla-releases/wheels/cuda/12.6/torch_xla-2.7.0-cp311-cp311-manylinux_2_28_x86_64.whl
